<ion-header [translucent]="true">
  <ion-toolbar color="algodao-doce">
    <ion-title>
      Meus Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="conceito">
  <ion-grid class="ion-text-center ion-no ion-no-padding">
    <ion-row class="ion-no-padding">

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://images-na.ssl-images-amazon.com/images/I/61JosO2tkdL.jpg">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
            Orgulho e Preconceito 
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="algodao-doce">Jane Austen</ion-badge>
            <ion-icon slot="end" name="heart"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://a-static.mlcdn.com.br/1500x1500/livro-a-selecao/magazineluiza/088626300/3a5c729a0fda045ab5153be45e37f307.jpg">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
              A Seleção
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="algodao-doce">Kiera Cass</ion-badge>
            <ion-icon slot="end" name="heart"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>

       <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://images-na.ssl-images-amazon.com/images/I/61ho40YQCkL.jpg">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
            A culpa é das estrelas  
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="algodao-doce">John Green</ion-badge>
            <ion-icon slot="end" name="heart"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://images-na.ssl-images-amazon.com/images/I/61FJwfbxXAL.jpg">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
            Extraordinario
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="algodao-doce">R.J. Palacio</ion-badge>
            <ion-icon slot="end" name="heart"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://images-na.ssl-images-amazon.com/images/I/518K1DK01tL._SX335_BO1,204,203,200_.jpg">

          <ion-item lines = "none" class="ion-no-padding">
            <ion-label>
              A sexta mulher    
            </ion-label>
          </ion-item>
          <ion-item lines = "none" class="ion-no-padding">
            <ion-badge color="algodao-doce">Suzannah Dunn</ion-badge>
            <ion-icon slot="end" name="heart"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
