<ion-header [translucent]="true">
  <ion-toolbar color="algodao-doce">
    <ion-title>
        Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="conceito">
 
  <ion-avatar class="avatar">
    <img src="assets/tunica2.jpeg">
  </ion-avatar>

 <ion-label>
      <div>
        <h2>Maria Antonia Vieira</h2>
      </div>
    </ion-label>

    <ion-item lines="full">
      <ion-label><ion-icon slot="end" name="create-outline"></ion-icon> criar</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
 
    <ion-item lines="full">
        <ion-label><ion-icon slot="end" name="library-outline"></ion-icon> minha biblioteca</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
</ion-content>